<div class="footer">
    <a href="/copyright.html">(C) Cedar Lehman 2024</a>
</div>
<div class="footer" id="version"><em>v1.2.0</em></div>
<div class="footer" id="links">
    <a href="https://github.com/nfisherman/nfisherman.com">source</a>
</div>