/* user styles */

:root {
    --body-bg-image: url('/asset/img/background/gmcbg.gif');

    /* spacing */
    --padding: 15px;
    --spacing: 20px;
    --shadow-spacing: 6px;
    --min-spacing: 12px;
    --max-width: 900px;
    --sidebar-width: 200px;
    --content-width: calc(var(--max-width) - var(--sidebar-width));

    /* colors */
    --content: rgba(255, 255, 255, 0.68);
    --grey: #DDCECD;
    --light-grey: #EEE5E5;
    --strong: #19647E;
    --strong-light: #28AFB0;
    --strong-dark: #134a5c;

    /* fonts */
    --mono: 'Meslo LGMDZ Mono', 'Courier New', Courier, monospace;
    --emoji: 'Noto Emoji';
}

/* if you have the URL of a font, you can set it below */

@font-face {
    font-family: 'Meslo LGMDZ';
    src: url('/asset/font/MesloLGMDZ/MesloLGMDZNerdFontMono-Regular.ttf');
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('/asset/font/NotoEmoji/static/NotoEmoji-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('/asset/font/NotoEmoji/static/NotoEmoji-Light.ttf');
    font-weight: light;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('/asset/font/NotoEmoji/static/NotoEmoji-Medium.ttf');
    font-weight: medium;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('/asset/font/NotoEmoji/static/NotoEmoji-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('/asset/font/NotoEmoji/static/NotoEmoji-Bold.ttf');
    font-weight: bolder;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-size: 65px;
    color: black;
    background-image: var(--body-bg-image);
}

* {
    box-sizing: border-box;
}

.emoji {
    font-family: var(--emoji);
    font-size: 15px;
}

/* below this line is CSS for the layout */

/* the "container" is what wraps your entire website */
#container {
    max-width: var(--max-width);
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
        and change the media query according to the comment! */
    margin: var(--min-spacing);
    margin-left: calc(var(--min-spacing) - var(--shadow-spacing));
    margin-top: calc(var(--min-spacing) - var(--shadow-spacing) + 2px);
    /* this centers the entire page */
}

/* the area below is for all links on your page
    EXCEPT for the navigation */
#container a {
    font-weight: bold;
    /* if you want to remove the underline
        you can add a line below here that says:
        text-decoration:none; */
}

#container a:link {
    color: var(--strong);
}

#container a:visited, #container a:active {
    color: var(--strong-light);
    font-weight: normal;
}

#container a:hover {
    color: white;
    background-color: black;
}

.box-container {
    background: var(--content);
    border: 1px solid black;
    box-shadow: var(--strong) var(--shadow-spacing) var(--shadow-spacing);
}

#header {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 var(--padding) 0 var(--padding);
    margin-bottom: var(--spacing);
}

nav details > summary {
    display: block;
    pointer-events: none; /* prevents click events */
    user-select: none; /* prevents text selection */
}

nav details summary * {
    padding-right: 5px;
}

nav details summary .emoji {
    display: none;
    float: right;
}

nav ul, nav.sidebar ul {
    list-style-type: none;
    padding: 0;
    font-family: var(--mono);
    margin-top: 0;
    margin-bottom: 0;
    font-size: smaller;
}

nav#collapsible {
    display: none;
}

nav.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    padding: var(--padding);
    margin-right: var(--spacing);
}

nav.sidebar {
    order: 1;
}

nav ul a {
    text-decoration: none;
}

nav.sidebar ul li,
nav.sidebar ul * li {
    font-family: var(--mono);

    width: 100%;
    padding: 2px 8px 2px 8px;

    background-color: white;
    border: 1px solid black;

    color: black;
    font-weight: bold;
    text-align: left;
}

nav.sidebar ul > li {
    padding-right: 6px;
}

nav.sidebar > ul > a li,
nav.sidebar details ul a li,
nav.sidebar ul ul {
    margin-bottom: calc(var(--spacing) / 2);
}

nav.sidebar ul ul {
    margin-left: var(--padding);
}

nav.sidebar ul ul a li {
    border-top: 0;

    padding-right: 9px;
}

nav.sidebar ul ul a li .nav-path {
    display: none;
}

nav.sidebar ul ul a:last-of-type li {
    padding-right: 6px;
}

nav.sidebar ul li .emoji,
nav.sidebar ul * li .emoji {
    float: right;
}

nav.sidebar ul a:hover li {
    background: black;
    color: white;
}

.fill-vertical{
    flex-grow: 1;
}

#blinkies img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rightSidebar {
    order: 3;
    margin-left: var(--spacing);
    margin-right: 0;
}

#flex {
    margin-bottom: var(--spacing);
    display: flex;
}

/* this is the color of the main content area,
    between the sidebars! */
main {
    flex: 1;
    order: 2;
}

main .box-container {
    padding: var(--padding);
    margin-top: var(--spacing);
}

main > .box-container:first-of-type {
    margin-top: 0;
}

.inline {
    width: 100%;
    display: flex;
}

.inline > * {
    margin-left: var(--spacing);
    width: 50%;
}

.inline > *:first-child {
    margin-left: 0;
}

/* what's this "order" stuff about??
    allow me to explain!
    if you're using both sidebars, the "order" value
    tells the CSS the order in which to display them.
    left sidebar is 1, content is 2, and right sidebar is 3! */

footer {
    color: black;

    width: 100%;
    height: auto;
    padding: var(--padding);
    /* margin-top: var(--spacing); */

    display: flex;
}

.footer {
    flex: 1;
}

.footer#version {
    text-align: center;
}

.footer#links {
    text-align: right;
}

h1,
h2,
h3 {
    font-family: var(--mono);
    color: var(--strong);
    text-shadow: 2px 2px var(--grey);
}

h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: var(--strong);
}

/* this is just a cool box, it's the darker colored one */
.box {
    width: 100%;
    border: 1px solid #000000;
    padding: var(--padding);
}

.header-bar {
    background-image: linear-gradient(to right, white 25%, var(--strong-light));
    padding: 0;
    padding-left: 5px;
    line-height: 0; 
    display: block;
    margin-bottom: var(--spacing);
    font-size: smaller;
}

.header-bar * {
    color: black;
}

/* CSS for extras */

#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below */

@media only screen and (max-width: 800px) {
    #path {
        display: none;
    }

    #primary {
        margin-top: calc(var(--padding) * 2 + 70px);
        overflow-y: hidden;
    }
    
    #flex {
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* the order of the items is adjusted here for responsiveness!
        since the sidebars would be too small on a mobile device.
        feel free to play around with the order! */
    nav details summary {
        pointer-events: auto;
        user-select: auto;
    }
    
    nav details summary .header-bar {
        margin-bottom: 0;
    }

    nav details summary .emoji {
        display: block;
    }

    nav#leftSidebar {
        display: none;
    }

    /* navigation section!! */
    /* https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
    /* The dropdown container */
    nav#collapsible {
        display: block;
        overflow: hidden;
        font-family: var(--mono);
        background-color: var(--strong);
        text-align: right;
        margin: auto 0 auto auto;
        overflow: hidden;
    }

    nav#collapsible ul a li .emoji,
    nav#collapsible ul > li {
        display: none;
    }

    nav#collapsible ul ul a li .nav-path {
        display: block;
    }

    nav#collapsible ul ul {
        font-size: inherit;
    }

    /* Dropdown button */
    nav#collapsible .dropbtn {
        font-size: 16px;
        border: 1px solid black;
        display: flex;
        /* outline: none; */
        color: white;
        /* padding: 14px 16px; */
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        padding: 8px;
    }

    .dropbtn--input {
        display: none;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        background-color: #FFFFFF;
        box-shadow: var(--strong-dark) var(--shadow-spacing) var(--shadow-spacing);
        display: none;
        position: absolute;
        right: calc(var(--padding) + var(--min-spacing));
        min-width: auto;
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: right;
    }

    /* Show the dropdown menu on click */
    .dropbtn--input:checked + .dropdown-content {
        display: block;
    } 

    nav#rightSidebar {
        width: 100%;
        order: 1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--spacing);
    }

    nav.sidebar details ul a li {
        margin-top: 0;
        margin-bottom: 0;
        border-top: 0;
    }

    summary {
        display: flex;
        cursor: pointer;
    }
      
    summary::-webkit-details-marker {
        display: none;
    }

    details {
        user-select: none;
    }

    .inline {
        flex-direction: column;
    }

    .inline > * {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 675px) {
    footer {
        display: block;
    }

    .footer, .footer#links {
        text-align: center;
    }
}