---
layout: pages/blog/index.liquid
date: git Last Modified
---

{% header "h3" title %}
{% assign currentDate = page.date | date: "%m&#183;%d&#183;%Y %H:%M %p" %}
{% assign dateString = "Last modified: " | append: currentDate
                       | append: " (<a href=https://github.com/nfisherman/nfisherman.com/commits/main/site"
                       | append: page.filePathStem | append: ".md>commit history</a>)" %}
{% miniheader "h4" dateString %}
<div class="tags">
    {% for tag in tags offset: 1 %}
        <a class="box-container" href="/blog/tags/{{ tag }}">
            {{ tag }}
        </a>
    {% endfor %}
</div>


{{ content }}

<hr style="margin-left:25%;margin-bottom:var(--padding)">

<a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1"
   target="_blank" rel="license noopener noreferrer"
   style="float:right;">
    <img src="/asset/img/license/by-nc.svg">
</a>