---
layout: pages/blog/index.liquid
title: all tags
---

{% header 'h3' title %}

<div class="tags">
    {% for tag in collections %}
    {% if tag contains 'posts' or tag contains 'all' %}{% continue %}{% endif %}
        <a class="box-container" href="{{ tag[0] }}">
            {{ tag[0] }}
        </a>
    {% endfor %}
</div>

<style>
    .tags > .box-container {
        padding: var(--padding);
        margin-right: var(--spacing);
        font-size: medium;
    }
</style>