<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home - nfisherman</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <div class="flex">
                <nav>
                    <a href="/" style="font-weight:bolder;"><pre>
        __ _     _
       / _(_)   | |
 _ __ | |_ _ ___| |__   ___ _ __ _ __ ___   __ _ _ __
| '_ \|  _| / __| '_ \ / _ \ '__| '_ ` _ \ / _` | '_ \
| | | | | | \__ \ | | |  __/ |  | | | | | | (_| | | | |
|_| |_|_| |_|___/_| |_|\___|_|  |_| |_| |_|\__,_|_| |_|</pre>
                    </a>
                    <ul class="flex">
                        <li class="dropdown">
                            <a href="/about" class="dropdown-label"><pre>
╭-------╮
| about |</pre>
                            </a>
                            <div class="dropdown-content">
                                <a href="/about/me"><pre>
╭------╮
|  me  |</pre>
                                </a>
                                <a href="/about/site"><pre>
╭------╮
| site |
╰------╯</pre>
                                </a>
                            </div>
                        </li>
                        <li><a href="/blog">blog</a></li>
                    </ul>
                </nav>
                <div class="flex right" tabindex="0">
                    <pre id="lights-string">

:
:
:
:
:
:
*</pre>
                    <pre id="lights">
 |_______| 
  \ |_| /
    /|\
-  ( @ )  -
    '-'
  /     \
     *</pre>
                </div>
            </div>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>