<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home - nfisherman</title>
        <link rel="icon" type="image/x-icon" href="/img/icon/favicon/light.ico">
        <link rel="stylesheet" href="/style/common.css">
    </head>
    <body>
        <header>
            <nav class="flex">
                <a href="/" id="title">
                    <div class="imageInn">
                        <img src="/img/icon/fullres/light.png"  alt="Website Icon">
                    </div>
                    <div class="hoverImg">
                        <img src="/img/icon/fullres/dark.png" alt="Website Icon Inverted">
                    </div>
                </a>
                <a href="/about">about</a>
                <a href="/about">blog</a>
            </nav>
        </header>
        <main>
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h3>Header 3</h3>
            <h4>Header 4</h4>
            <h5>Header 5</h5>
            <h6>Header 6</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim augue, vestibulum convallis nisi a, rhoncus eleifend enim. Etiam gravida odio magna, non tempus purus dictum rutrum. Aliquam in sem felis. Sed et ornare nisi. Morbi interdum neque libero, id semper purus imperdiet nec. Sed nec suscipit neque. Fusce odio massa, maximus nec magna sit amet, dapibus tincidunt erat. Nunc hendrerit commodo porttitor. Maecenas vulputate, purus et vehicula finibus, tortor augue rutrum odio, sit amet gravida elit ex non dolor. Morbi ut laoreet velit. Praesent ligula neque, finibus sit amet dolor at, mattis posuere lacus. In vestibulum vitae diam sed pretium. Fusce eu convallis diam. Integer suscipit lobortis ipsum, ac facilisis orci ullamcorper sit amet. Suspendisse potenti.</p>
        </main>
        <footer>
            <div class="flex">
                <a href="/copyright">(C) Cedar Lehman 2024</a>
                <em>v2</em>
                <a href="https://github.com/nfisherman/nfisherman.com">source</a>
            </div>
        </footer>
    </body>
</html>