:root {
    --background-color: white;
    --color: black;
}

@media (prefers-dark-interface){
    :root {
        --background-color: black;
        --color: white;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    background-color: var(--background-color);
    color: var(--color);
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.right {
    margin: 0;
    margin-left: auto;
}
