:root {
    --background-color: white;
    --color: black;
}

@media (prefers-dark-interface){
    :root {
        --background-color: black;
        --color: white;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    background-color: var(--background-color);
    color: var(--color);
    padding: 0;
}

body {
    outline: 1px solid var(--color);
    margin: 0;
    margin: 10px;
    max-width: 800px;
    min-height: 600px;
    position: relative;
}

.flex {
    display: flex;
    flex-wrap:wrap;
}

.right {
    margin: 0;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: var(--color);
    font-family: monospace;
}

nav a:hover span {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
}

.dropdown {
    position: relative;
}

.dropdown-label span::after {
    content: "▼";
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    z-index: 1;
    top: 30px;
    right: 0;
}

.dropdown:hover .dropdown-content, .dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-label span::after {
    content: "▲";
}

header .right * {
    cursor: pointer;
}

#lights-string {
    margin-right: -14px;
}

#lights {
    height: fit-content;
}

#lights + #lights {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    margin-top: auto;
    margin-bottom: 0;
}

@media (max-width: 800px){
    body {
        max-width: 580px;
        min-height: 480px;
    }
}

@media (max-width: 640px){
    body {
        width: calc(100% - 20px);
    }
}

@media (max-width: 565px){
    header .right * {
        display: none;
    }

    #lights + #lights:not(.solar) {
        display: block;
    }
}

@media (max-width: 495px){
    #title span{
        display: none;
    }

    #title::after {
        content: "\
       __ _    _\A\
 _ _  / _(_)__| |_  ___ _ _ _ __  __ _ _ _\A\
| ' \\|  _| (_-< ' \\/ -_) '_| '  \\/ _` | ' \\\A\
|_||_|_| |_/__/_||_\\___|_| |_|_|_\\__,_|_||_|";
    }
}

@media (max-width: 415px){
    header .right * {
        display: none
    }

    .solar {
        display: block;
    }

    #title span{
        display: none;
    }

    #title::after {
        content: "\
     _\A\
__ _|_ o  _ |_  _  ____  _ __\A\
| | |  | _> | |(/_ | |||(_|| |"
    }
}

@media (max-width: 315px){
    #title span{
        display: none;
    }

    #title::after {
        content: "nfisherman"
    }
}