{% extends "base.html" %}

{% block content %}
<!--  
  The content of this page is licenced under the Creative Commons
  Attribution-NonCommercial 4.0 International License. To view a copy of this
  licence, visit https://creativecommons.org/licenses/by-nc/4.0/ or send a 
  letter to Creative Commons, 171 Second Street, Suite 300, San Francisco,
  California 94105, USA.
-->
  <h1 class="title">
    {{ page.title }}
  </h1>

  {% if page.subtitle %}
    <p class="subtitle">
      <strong>{{ page.subtitle }}</strong>
    </p>
  {% endif %}

  <p>
    {% if date %}
      <em>Posted:
      </em>
      {{ page.date }}{% if page.updated %}
        |

        <em>Updated:
        </em>
        <a href="https://github.com/nfisherman/nfisherman.com/commits/">{{ page.updated }}</a>
      {% endif %}
    {% endif %}
  </p>
  <br>

  {{ page.content | safe }}
{% endblock content %}
