---
    layout: left-nav-sidebar.liquid
---

<main>
    <div class="box-container">
        {% header "h3" title %}

        <a href="https://pcrf1.app.neoncrm.com/forms/general"
           style="margin-bottom: var(--padding);"
           alt="Donate to the PCRF! Free Palestine!">
            <img src="/asset/img/buttons/freegaza.gif" />
        </a>

        {{ content }}
    </div>
    <div class="inline">
        <div class="box-container">
            {% header "h3" "cool tunes" %}

            {% include '_soundcloud-widget.liquid' %}
        </div>
        <div class="box-container">
            {% header "h3" "camera roll" %}
        </div>
    </div>
    <div class="box-container">
        <div class="buttons">
            {% include '_img/buttons.liquid' %}
        </div>
    </div>
</main>