---
    layout: left-nav-sidebar.liquid
    active: about
---

<main>
    <div class="box-container">
        {{ content }}
    </div>
</main>
<div id="rightSidebar" class="box-container sidebar">

</div>