<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - nfisherman</title>
        <link rel="stylesheet" href="/style/base.css" />
        <script src="/script/main.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header" class="box-container">
                <h1 aria-hidden>nfisherman<span id="path"> ☆ ~{{ page.url }}</span></h1>
                <nav id="collapsible">
                    <label class="dropbtn" for="cb">▼ nav</label>
                    <input id="cb" class="dropbtn--input" type="checkbox" />
                    <div class="dropdown-content box-container">
                        {% include '_nav.html' %}
                    </div>
                </nav> 
            </div>
            
            <div id="flex">
                <nav id="leftSidebar" class="box-container">
                    <div class="box header-bar"><h3>navigation</h3></div>
                    {% include '_nav.html' %}
                    <div id="blinkies" aria-hidden>
                        <img src="/asset/img/blinkies/bekind.gif"/>
                        <img src="/asset/img/blinkies/ichooseyou.gif"/>
                        <img src="/asset/img/blinkies/kirbybestbuds.gif"/>
                        <img src="/asset/img/blinkies/imdigital.gif"/>
                        <img src="/asset/img/blinkies/mikufan.gif"/>
                        <img src="/asset/img/blinkies/transpride.gif"/>
                        <img src="/asset/img/blinkies/toomanytabs.gif"/>
                        <img src="/asset/img/blinkies/paramore.gif"/>
                        <img src="/asset/img/blinkies/dreamcast.gif"/>
                    </div>
                </nav>
                <main class="box-container">
                    {{ content }}
                </main>
                
            </div>
            <footer id="footer" class="box-container">
                <div class="footer">
                    <a href="/copyright.html">(C) Cedar Lehman 2024</a>
                </div>
                <div class="footer" id="version"><em>v1.0.1</em></div>
                <div class="footer" id="links">
                    <a href="https://github.com/nfisherman/nfisherman.com">source</a>
                </div>
            </footer>
        </div>
    </body>
</html>