<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - nfisherman</title>
        <link rel="icon" type="image/x-icon" href="/asset/img/icons/light.ico">
        <link rel="stylesheet" href="/style/base.css" />
        <script src="/script/main.js"></script>
    </head>
    <body onload="main()">
        <div id="container">
            <div class="box-container header">
                <h1 aria-hidden>nfisherman<span id="path"> ☆ ~{{ page.url }}</span></h1>

                {% include '_nav/collapsible.liquid' %}
            </div>
            
            <div id="flex">

                {{ content }}
                
            </div>
            
            <footer class="box-container">
                {% include '_footer.liquid' %}
            </footer>
        </div>
    </body>
</html>