<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - nfisherman</title>
        <link rel="icon" type="image/x-icon" href="/asset/img/icons/light.ico">
        <link rel="stylesheet" href="/style/base.css" />
        <script src="/script/main.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header" class="box-container">
                {% include '_header.liquid' %}
            </div>
            
            <div id="flex">
                <nav id="leftSidebar" class="box-container">
                    {% header "h3", "navigation" %}
                    {% include '_nav.liquid' %}

                    <div class="fill-vertical"></div>

                    <div id="blinkies" aria-hidden>
                        {% include '_blinkies.liquid' %}
                    </div>
                </nav>
                <main>
                    {{ content }}
                </main>
                
            </div>
            
            <footer class="box-container">
                {% include '_footer.liquid' %}
            </footer>
        </div>
    </body>
</html>