<nav id="collapsible">
    <label class="dropbtn" for="cb">▼ nav</label>
    <input id="cb" class="dropbtn--input" type="checkbox" />
    <div class="dropdown-content box-container">
        {% include '_nav/data.liquid' %}
    </div>
</nav> 